<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="cb932cd8-09a3-4e30-9364-57c47b2c57b5" activeEnvironment="Default environment" name="Project 1" resourceRoot="" soapui-version="5.2.1" abortOnError="false" runType="SEQUENTIAL" lastOpened="2017-01-17T09:41:23.611+05:30" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:vcsConfiguration><con:vcsName>Git</con:vcsName><con:repositoryIdentifier>https://github.com/ajay1902/SP3d</con:repositoryIdentifier></con:vcsConfiguration><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:oAuth2ProfileContainer/><con:sensitiveInformation/><con:authRepository/><con:tags/></con:soapui-project>