<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="ce3674a7-60dc-4a64-b2f5-1bc98c4d54d3" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://www.google.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="ce3674a7-60dc-4a64-b2f5-1bc98c4d54d3fileName">http%3A%2F%2Fwww.google.com1</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://www.google.com</con:endpoint></con:endpoints></con:interface>