<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="1af01809-449e-4119-ba3b-e79c3ed43e0c" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://www.google.com" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="1af01809-449e-4119-ba3b-e79c3ed43e0cfileName">http%3A%2F%2Fwww.google.com</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://www.google.com</con:endpoint></con:endpoints></con:interface>