<?xml version="1.0" encoding="UTF-8"?>
<con:mockService id="2255ba07-1475-43ce-b1b7-e1ea48c312b6" port="8054" path="/mockHorseProfileJMSBinding" host="localhost" name="HorseProfileJMSBinding MockService" bindToHostOnly="false" docroot="" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="com.eviware.soapui.impl.wsdl.mock.WsdlMockService@require-soap-action">false</con:setting><con:setting id="2255ba07-1475-43ce-b1b7-e1ea48c312b6fileName">HorseProfileJMSBinding-MockService</con:setting></con:settings><con:properties/><con:dataSources/><con:headerValidator/></con:mockService>