<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="fae0b84d-e22a-4dfd-957d-7a7db9408d8f" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://www.google.co.in" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="fae0b84d-e22a-4dfd-957d-7a7db9408d8ffileName">http%3A%2F%2Fwww.google.co.in</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://www.google.co.in</con:endpoint></con:endpoints></con:interface>