<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="a792eb9f-2c6c-4036-9903-868f31d09a57" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://www.google.co.in" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="a792eb9f-2c6c-4036-9903-868f31d09a57fileName">https%3A%2F%2Fwww.google.co.in</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://www.google.co.in</con:endpoint></con:endpoints></con:interface>