<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="2cdccf5d-199d-4b6e-b821-f85f3e03a429" wadlVersion="http://wadl.dev.java.net/2009/02" name="Maintain Configuration Web API" type="rest" basePath="/ics/v1/stubs/internal" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:description>ICS Server internal Web API for Maintain Configurations</con:description><con:settings><con:setting id="2cdccf5d-199d-4b6e-b821-f85f3e03a429fileName">Maintain-Configuration-Web-API</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://api.hkjc.org</con:endpoint></con:endpoints></con:interface>